/*

SHORTHAND PROPERTIES
--------------------
padding: {top} {right} {bottom} {left}
padding: {top & bottom} {left & right}
border: {width} {syle} {color}
border-radius: {top left} {top right} {bottom right} {bottom left}
box-shadow: {horizontal offset} {vertical offset} {blur radius} {color}

*/

body, h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0; /* remove default margin */
}

a {
    color: black; /* remove default blue color */
    text-decoration: none; /* remove default underline */
}

#navBar {
    width: 100vw;
    height: 4.5vw;
    padding: 1.5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navBar a {
    font-family: "Solway";
    font-size: 1.25vw;
    line-height: 1.25vw;
}

#navBar a:hover {
    color: lightskyblue;
}

#search {
    display: inline-block;
    position: relative;
    margin: 0vw 1vw;
}

#searchBar {
    position: relative;
    width: 9vw;
    height: 2.5vw;
    background-color: aliceblue;
    border: 0.1vw solid aliceblue;
    border-radius: 5vw;
    padding: 0vw 1vw;
    box-sizing: border-box;
}

#searchBar::placeholder {
    color: black;
    font-family: 'Solway';
    font-size: 1.25vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#searchBar.active {
    width: 9vw;
    outline: none; /* remove default outline */
    border-radius: 1vw 1vw 0vw 0vw;
}

#dropdown {
    width: 9vw;
    display: none;
    position: absolute;
    background-color: aliceblue;
    box-shadow: -0.25vw 0.25vw 0.25vw white;
    text-align: center;
    z-index: 1;
}

#dropdown.show {
    display: block;
}

#dropdown a {
    display: block;
    font-size: 1vw;
    padding: 0.75vw;
    border-top: 0.1vw dashed black;
}

#dropdown:last-child {
    border-radius: 0vw 0vw 1vw 1vw;
}

#main {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, skyblue 43%, white 0%);
}

#hero {
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    position: relative;
    box-shadow: -0.75vw 0.75vw 0.75vw lightblue;
}

#hero img {
    width: 7.5vw;
    height: 7.5vw;
    margin-bottom: 0.75vw;
}

#hero h1 {
    font-family: 'Share Tech';
    font-size: 2.5vw;
    margin-bottom: 0.25vw;
}

#hero h2 {
    font-family: 'Share Tech';
    font-size: 1.75vw;
    font-weight: normal;
}

#hero hr {
    background-color: mediumpurple;
    width: 3.5vw;
    height: 0.25vw;
    border: none;
    margin-bottom: 1.25vw;
    margin-top: 1.25vw;
}

#hero h3 {
    font-family: 'Share Tech';
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    margin-bottom: 1.5vw;
}

#contactButtons {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#contactButtons img {
    margin-top: 1vw;
    width: 1.75vw;
    height: 1.75vw;
    padding: 0vw 0.75vw;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 25vw;
    height: 30vw;
    padding: 2.5vw;
    box-sizing: border-box;
}

#intro h4 {
    font-family: monospace;
    font-size: 3.5vw;
    margin-bottom: 1vw;
}

#intro button {
    font-size: 1vw;
    font-family: "Solway";
    text-transform: uppercase;
    border-radius: 1vw;
    border: 0.2vw solid black;
    background-color: white;
    padding: 0.25vw 1.75vw;
    margin-bottom: 2vw;
}

#intro button:hover{
    background-color: skyblue;
    border-color: skyblue;
    color: white;
    cursor: pointer;
}

#intro p {
    font-family: 'Share Tech';
    font-size: 1.25vw;
}

#footer {
    width: 100vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 1.25vw;
    font-family: "Solway";
    color: grey;
    opacity: 0.8;
}

#loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img {
    width: 5vw;
    height: 5vw;
}
