@media only screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    #navBar {
        height: 20vw;
    }

    #navBar a {
        font-size: 5vw;
    }

    #search {
        margin: 0 4vw;
    }

    #searchBar {
        width: 36vw;
        height: 10vw;
    }

    #searchBar.active {
        border-radius: 5vw 5vw 0vw 0vw;
    }

    #searchBar::placeholder {
        font-size: 5vw;
    }

    #dropdown {
        width: 36vw;
    }

    #dropdown a {
        padding: 3vw;
        font-size: 4vw;
    }

    #dropdown:last-child {
        border-radius: 0vw 0vw 4vw 4vw;
    }

    #main {
        height: 200vw;
        flex-direction: column;
        background: linear-gradient(to bottom, skyblue 43%, white 0%);
    }

    #hero {
        width: 75vw;
        height: 100vw;
    }

    #hero img {
        margin-bottom: 2vw;
        width: 25vw;
        height: 25vw;
    }

    #hero h1 {
        margin-bottom: 1.5vw;
        font-size: 10vw;
    }

    #hero h2 {
        font-size: 7vw;
    }

    #hero hr {
        margin: 3.5vw;
        width: 14vw;
        height: 1vw;
    }

    #hero h3 {
        margin-bottom: 5vw;
        font-size: 5vw;
    }

    #contactButtons img {
        margin-top: 3vw;
        width: 7vw;
        height: 7vw;
        padding: 0vw 3vw;
    }

    #intro {
        width: 75vw;
        height: 75vw;
        margin-top: 7.5vw;
    }

    #intro h4 {
        margin-bottom: 2.5vw;;
        font-size: 10vw;
    }

    #intro button {
        padding: 1vw 7vw;
        border-width: 0.5vw;
        border-radius: 4vw;
        margin-right: 0.75vw;
        margin-bottom: 6vw;
        font-size: 4vw;
    }

    #intro p {
        font-size: 4.5vw;
    }

    #footer {
        height: 20vw;
    }

    #footer p {
        font-size: 4vw;
    }

    #loader img {
        width: 20vw;
        height: 20vw;
    }
}
